.side_bar {
  &__admin_panel {
    background: #f0f2f5;
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-right: 2px solid #d1d7db;

    &__links {
      display: flex;
      align-items: center;
    }
  }

  &__search {
    min-height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #f0f2f5;
    border-right: 2px solid #f8f9fa;
    background-color: white;

    &__input {
      background-color: #f0f2f5;
      display: flex;
      align-items: center;
      border-radius: 5px;

      input {
        min-width: 310px;
        padding: 0 30px 0;
      }
    }
  }

  &__users {
    font-family: "Roboto", sans-serif;
    font-weight: lighter;
    overflow-y: scroll;
    max-height: 100vh;
    background-color: white;
    // border-right: 2px solid #d1d7db;

    &::-webkit-scrollbar {
      width: 5px;
      height: 40px;
    }

    &::-webkit-scrollbar-button {
      height: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgb(180, 180, 180);
      min-height: 10px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
      margin-top: -10px;
      margin-bottom: 110px;
    }

    &__user {
      overflow-x: hidden;
      display: flex;
      padding: 10px 20px;
      gap: 10px;
      position: relative;

      &:hover {
        background: #f0f2f5;
        cursor: pointer;
        .side_bar__users__user__chevron {
          display: block;
          opacity: 1;
          right: 22px;
        }
      }

      &__description {
        width: 100%;
        padding-top: 5px;

        &__name_time {
          display: flex;
          align-items: center;
          justify-content: space-between;

          &__time {
            font-size: 14px;
            color: #ad8a90;
          }
        }

        &__text_nots {
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-size: 14px;
          color: #ad8a90;
        }
      }

      &__underline {
        position: absolute;
        height: 1px;
        background: #f0f2f5;
        width: 320px;
        bottom: 0;
        right: 0;
      }

      &__chevron {
        position: absolute;
        bottom: 12px;
        right: 20px;
        transition: 0.2s;
        opacity: 0;
      }
    }
  }
}
